# filepath: c:\xampp\htdocs\mvc_tutorial2\public\.htaccess
RewriteEngine On

# Permite accesul la fișiere statice
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redirecționează spre index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

